#page3{
  text-align: center;
  padding:62px 0 70px;
  h2{
    margin-bottom: 48px;
  }
  .row{
    overflow: hidden;
  }
  .item{
    float: left;
    margin-right:6px;
    margin-bottom: 6px;
    position: relative;
    cursor: pointer;
    &:nth-of-type(4n){
      margin-right: 0;
    }
    img{
      display: block;
    }
    .h4{
      display: none;
      background-color: rgba(0,0,0,0.7);
      color: #ffffff;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
    }
    &:hover{
      .h4{
        display: block;
      }
    }
  }
}